// nextflow.config
nextflow {
  version = '24.10.5'
}

profiles {
  conda {
    process {
      executor = 'local'
      conda = 'envs/conda.yaml'
    }
  }
  test {
    // for test run: automatically use our mini dataset
    params.reads = 'test_data/mini.fastq.gz'
  }
}

process {
  // default resources
  cpus   = 2
  memory = '4 GB'
}

